
php_value post_max_size 64M
php_value upload_max_filesize 64M
php_value max_input_vars 99999

php_value session.auto_start 0
php_flag zlib.output_compression On
php_value default_charset UTF-8
AddDefaultCharset UTF-8

ErrorDocument 404 /404

RewriteEngine on
RewriteRule !\.(php|js|ico|gif|jpg|png|css|html|xml|swf|pdf|zip|doc|docx|xls|txt|jar)$ public/index.php